/* 
*
* =====================
* GENERAL
* =====================
*
*/

body {
  color: #555;
}

p {
  color: #555;
}

a:active, a:visited {
  color: #4fbfa8;
}

a:hover {
  color: #333;
}

section {
  padding: 60px 0;
  position: relative;
}

.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: 0.9rem;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-family: "Roboto Slab", serif;
}

.text-300 {
  font-weight: 300 !important;
}

.text-400 {
  font-weight: 400 !important;
}

.text-500 {
  font-weight: 500 !important;
}

.title {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 2.3rem;
  font-weight: 100;
  padding: 10px 0;
  margin-bottom: 44px;
  text-align: center;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin-top: 20px;
  letter-spacing: 0;
}

.title span {
  font-size: 2.5rem;
}

.bg-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#4fbfa8), to(#74cdba)) !important;
  background: linear-gradient(to bottom, #4fbfa8, #74cdba) !important;
  color: #fff;
}

.bg-gradient * {
  color: inherit;
}

.bg-gray {
  background: #f5f5f5;
}

/*
*
* =====================
* NAVBAR
* =====================
*
*/
nav.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}

@media (max-width: 991.98px) {
  nav.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

nav.navbar .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700; 
  font-family: "Roboto Slab", serif;
  color: #4fbfa8;
  border: #4fbfa8 3px solid;
  border-radius: 50%;
  padding: 5px;
}

nav.navbar a.nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 5px;
  color: #777;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 4px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0.875rem;
}

@media (max-width: 991.98px) {
  nav.navbar a.nav-link {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: none;
  }
}

nav.navbar a.nav-link.active, nav.navbar a.nav-link:hover {
  color: #333;
  border-top-color: #4fbfa8;
}

@media (max-width: 1199.98px) {
  nav.navbar a.nav-link.active, nav.navbar a.nav-link:hover {
    color: #4fbfa8;
  }
}

/*
*
* =====================
* INTRO
* =====================
*
*/
.intro-section {
  padding-top: 150px;
  color: #fff;
  background: url('img/home.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .intro-section {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.name-container{
  width: auto;
  padding: 30px;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.7);
  border: #7c9ca2 5px solid;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.softwares-section img {
  padding: 10px;
  max-width: 80px;
  max-height: 100px;
}

/*
*
* =====================
* SKILLS
* =====================
*
*/
.skills-section hr {
  border-color: #fff;
}

.skills-section .icon {
  font-size: 2.8rem;
  text-shadow: 5px 5px 0 #3aa18c;
}

.skills-section p.description {
  color: #fff;
}

.btn-primary {
  color: #4fbfa8;
  background-color: #fff;
  border-color: #fff;
}

.btn-primary:hover {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

/*
*
* =====================
* PROJECTS
* =====================
*
*/
#filter {
  text-align: center;
  margin: 20px 0;
  padding: 0;
}

#filter li {
  display: inline-block;
  list-style-type: none;
  font-family: "Roboto Slab", serif;
  margin-bottom: 30px;
  border-top: solid 1px #4fbfa8;
  border-bottom: solid 1px #4fbfa8;
  margin: 0 10px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#filter li a {
  display: inline-block;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #4fbfa8;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#filter li.active, #filter li:hover {
  border: none;
}

#filter li.active a, #filter li:hover a {
  color: #fff;
  text-decoration: none;
  background: #4fbfa8;
}